#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:Georgia, Arial,sans-serif;font-weight:bold;color:#fff; padding-left: 10px; text-shadow: 1px 1px 1px #222;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:9999;text-align:left;visibility:hidden;display:none;overflow:hidden;}
#sb-overlay{position:relative;height:100%;width:100%;overflow:hidden;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;overflow:hidden;}
#sb-wrapper-inner{position:relative;border:1px solid #fff;overflow:hidden;height:100px;overflow:hidden;background: #000 url(../images/contact_bg.jpg);}
#sb-body{position:relative;height:100%;overflow:hidden;}
#sb-body-inner{position:absolute;height:100%;width:100%;overflow:hidden;}
#sb-player.html{height:100%;overflow:hidden;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%; color: #464b47;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:url(../images/loading.gif) no-repeat;padding-left:34px;display:inline-block;}
#sb-body,#sb-loading{background: #fff;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{height:26px;line-height:26px;}
#sb-title-inner{font-size:16px;background: #464b47;}
#sb-info,#sb-info-inner{height:40px;line-height:10px;}
#sb-info-inner{font-size:12px;overflow:hidden;}
#sb-nav{float:right;height:30px;padding:0px 0;width:45%; margin-top: 0px; margin-right: 0px;}
#sb-nav a{display:block;float:right;height:25px;width:155px;cursor:pointer;background-repeat:no-repeat; margin: 5px 0 0 0;}
#sb-nav-close{height: 30px; background-image:url(../images/close.png);}
#sb-nav-next{background-image:url(../images/next.png);}
#sb-nav-previous{background-image:url(../images/previous.png);}
#sb-nav-play{background-image:url(../images/play.png);}
#sb-nav-pause{background-image:url(../images/pause.png);}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}
